<div id='list' class='view'>
	<h1 id='list_name'></h1>
	<div class='share_link'>
		Share: <span id='share_link'></span> 
	</div>
	<ul class='items'>
		<li class='new_item' id='new_item' onclick='open_new_item_form()'>Add New Task</li>
		<li class='new_item_form' id='new_item_form'>
			<input class='new_item_form_name' id='new_item_form_name' type='text'>
			<button class='yes' onclick='new_item_form_submit()'>O</button>
			<button class='no' onclick='close_new_item_form()'>X</button>
		</li>
	</ul>
</div>